@inherits LayoutComponentBase


<style>
.vl {
  border-left: 6px solid rgb(0, 0, 0);
  height: 45px;
}
</style>

<div class="top-row ps-3 navbar navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Ana Sayfa</a>
       
        <a class="navbar-brand" href="/assets">Arsalarım</a>
        
        <div class="px-4 d-flex justify-content-between">
            <a href="/" target="_blank">Çıkış Yap</a>
        </div>
        
    </div>
</div>

<div class="col-12">
    @Body
</div>
