
  .card {
    position: relative;
  }

  .stretched-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1; /* Below the buttons */
  }

  .card-body .btn {
    position: relative;
    z-index: 2; /* Above the stretched-link */
  }
